{% extends "main.html" %}
{% block libs %}
<link rel="stylesheet" href="/stylesheets/home.css">
{% endblock %}
{% block content %}
<section class="mdx-container home-section">
  <div class="md-grid md-typeset">
    <div class="text-center">
      <img class="avatar off-glb" src="https://avatars.githubusercontent.com/blueswen"></img>
      <p>Hi, I am @Blueswen (Yi-Wei, Liu).</p>
      <p>A Software Engineer focus on Web Application, DevOps, Cloud Native, and Developer Experience.</p>
    </div>
    <div class="text-center">
      <a href="https://twitter.com/BlueswenTw" target="_blank">
        <span class="twemoji home-icon">
          {% include ".icons/fontawesome/brands/square-twitter.svg" %} 
        </span>
      </a>
      <a href="https://github.com/blueswen" target="_blank">
        <span class="twemoji home-icon">
          {% include ".icons/fontawesome/brands/square-github.svg" %} 
        </span>
      </a>
      <a href="https://www.linkedin.com/in/blueswen/" target="_blank">
        <span class="twemoji home-icon">
          {% include ".icons/fontawesome/brands/linkedin.svg" %} 
        </span>
      </a>
    </div>
  </div>
</section>
{% endblock %}
