[data-md-color-primary=white] {
    --md-typeset-a-color: #337ab7;
    --md-accent-fg-color: #0085a1;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #0085a1;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    color: #404040;
}

.text-center {
    text-align: center;
}

.md-content__inner h1 {
    color: #404040;
    font-weight: 400;
}

.md-content__inner h2 {
    font-weight: 400;
}

.md-post--excerpt {
    margin-bottom: 1.2rem;
}

.md-post__content h2 a{
    color: #404040;
    font-weight: 400;
}

.md-post__content h2 a:hover{
    color: rgba(0, 0, 0, 0.5);
}
